{% extends 'layout.html' %}

{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url(' {{ url_for('static',filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params["blog_name"]}}</h1>
            <span class="subheading">{{params['sub_heading']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

Welcome
        <!-- Pager -->
        <div class="clearfix">
            {% if number!=0 %}
          <a class="btn btn-primary float-left" href="/">&larr; Newer Posts &rarr;</a>
            {% endif %}
          <a class="btn btn-primary float-right" href="">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

 {% endblock %}
